<%
    var title = '归档';
    if (is_category()) { title = '分类: ' + page.category; }
    else if (is_tag()) { title = '标签: ' + page.tag; }
%>
<div class="main-content post-content row">
    <% if (!is_archive()) { %>  
        <div class="post-header"><h1><%= title %></h1></div>
        <% page.posts.sort('date', 1).each(function(item){ %>
            <div class="col-4 post-entry">
                <h5 class="index-title">
                    <a href="<%- url_for(item.path) %>"><%= item.title %></a>
                </h5>
                <div class="post-date"><%= item.date.format(config.date_format) %></div>
            </div>
    <% }) } else { %>
        <h1>分类</h1>
        <div class="space"></div>
        <% site.categories.forEach(function(category){ %>
            <a href="<%- url_for(category.path) %>"><%= category.name %></a>
        <% } ) %>
        <div class="space"></div>
        <h1>标签</h1>
        <div class="space"></div>
        <% site.tags.forEach(function(tag){ %>
            <a href="<%- url_for(tag.path) %>"><%= tag.name %></a>
        <% })%>
    <% } %>
</div>
