<!doctype html>
<html>
    <%- partial('_partial/head', {title: 'Hello World'}) %>
    <body>
        <%- partial('_partial/header') %>
        <div class="blog">
            <div class="container-fluid">
                <div class="row row-offcanvas align-items-start">
                    <%- body %>
                </div>
            </div>
        </div>
        <%- partial('_partial/footer') %>
        <%- partial('_partial/after-footer') %>
    </body>
</html>