<%
    var categories = [];
    var tags = [];
    page.categories.forEach(function(c) {
        categories.push('<a href="' + url_for(c.path) +'">' + c.name + '</a>');
    });
    page.tags.forEach(function(t) {
        tags.push('<a href="' + url_for(t.path) +'">' + t.name + '</a>');
    });
%>
<div class="main-content post-content row">
    <div class="post-header">
        <h1><%= page.title %></h1>
        <p class="meta-line">
            <% if (page.categories && page.categories.length) { %>
                <i class="far fa-folder-open"></i>&nbsp;<%- categories.join(' ') %>&nbsp;&nbsp;<% } %>
            <% if (page.tags && page.tags.length) { %>
                <i class="far fa-bookmark"></i>&nbsp;<%- tags.join(' ') %>&nbsp;&nbsp;<% } %>
                <i class="far fa-calendar-alt"></i>&nbsp;<%= page.date.format(config.date_format) %>
        </p>
    </div>
    <%- page.content %>
    <div class="post-nav container-fluid row">
        <div class="nav-prev col-6">
        <% if (page.prev){ %>
            <a href="<%- url_for(page.prev.path) %>"><i class="far fa-arrow-alt-circle-left"></i>&nbsp;&nbsp;<%= page.prev.title %></a>
        <% } %>
        </div><div class="nav-next col-6 text-right">
        <% if (page.next){ %>
            <a href="<%- url_for(page.next.path) %>"><%= page.next.title %>&nbsp;&nbsp;<i class="far fa-arrow-alt-circle-right"></i></a>
        <% } %>
        </div>
    </div>
</div>
