<div class="card bio">
    <div class="card-header">
        <div><%= __('Impression')%></div>
    </div>
    <div class="card-body">
        <div class="image"><img class="actual-image" src="/avatar.jpg"></div>
        <div class="intro"><%= theme.bio.nickname %><p><%= theme.bio.intro %></p></div>
        <div class="contacts">
            <% for(var i in theme.bio.social) { %>
                <p><%= __(i) %>: 
                    <% if (i == "Mail") { %>
                        <a href="mailto:<%- theme.bio.social[i] %>" target="_blank"><%= theme.bio.social[i] %></a>
                    <% } else { %>
                        <a href="<%- theme.bio.social[i] %>" target="_blank"><%= theme.bio.social[i] %></a>
                    <% } %>
                </p>
            <% } %>
        </div>
    </div>
</div>
